# Pandas

## Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [1]:
import numpy as np
import pandas as pd

## Creating a Series

You can convert a list, numpy, array, or dictionary to a Series.

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

### Using List

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data , labels) # same as above

a    10
b    20
c    30
dtype: int64

### Numpy Arrays

In [12]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [13]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

### Dictonary

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A Pandas Series can hold a variety of object types.

In [15]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [16]:
# Even Functions
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [17]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [20]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser3 = pd.Series(data = labels)

In [25]:
ser3

0    a
1    b
2    c
dtype: object

In [27]:
ser3[2]

'c'

In [28]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [29]:
ser2 + ser1 # same answer

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64