# DataFrames Part3

In [22]:
import numpy as np
import pandas as pd

In [23]:
from numpy.random import randn
np.random.seed(101)

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [15]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [17]:
inside

[1, 2, 3, 1, 2, 3]

In [18]:
hier_index = list(zip(outside,inside)) # combine outside , inside
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [25]:
df = pd.DataFrame(np.random.randn(6,2) , index = hier_index, columns = ['A','B'])

In [26]:
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [27]:
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [29]:
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

## Assign Index Names

In [30]:
df.index.names = ['Groups','Num']

In [31]:
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

## Cross Section (xs)

In [34]:
df.xs('G1')

            A         B
Num
1    0.188695 -0.758872
2   -0.933237  0.955057
3    0.190794  1.978757

In [37]:
df.xs(1, level = 'Num')

               A         B
Groups
G1      0.188695 -0.758872
G2      2.605967  0.683509